/* RESET */
* { margin: 0; padding: 0; }
ul, ol {list-style: none;}
strong {font-weight: bold;}
article, aside, figure, footer, header, hgroup, menu, nav, section { display: block; }
/* MAIN STYLE */
body {
	font-family:'Arial';
	overflow:hidden;
	width:100%;
	height:100%;
	background-image:url('img/background.jpg');
	background-size:cover;
	background-position:top center;
	position:relative
}
#main {
	width:90%;
	margin:0 auto;
	position:relative;
}
.chmball1 {
	position:absolute;
	top: 0px;
	left: 80px;
	z-index:1;
}
.chmball1 img {
	width: 140px;
	height: auto;
}
.chmball2 {
	position:absolute;
	top: 0px;
	left: 130px;
	z-index:3;
}
.chmball2 img {
	width: 190px;
	height: auto;
}
.chmball3 {
	position:absolute;
	top: 0px;
	left: 215px;
	z-index:2;
}
.chmball3 img {
	width: 140px;
	height: auto;
}
.chmball4 {
	position:absolute;
	top: 0px;
	right: 150px;
	z-index:2;
}
.chmball4 img {
	width: 140px;
	height: auto;
}
.chmball5 {
	position:absolute;
	top: 0px;
	right: 220px;
	z-index:2;
}
.chmball5 img {
	width: 100px;
	height: auto;
}
.chmball6 {
	position:absolute;
	top: -150px;
	right: 500px;
	z-index:1;
}
.chmball6 img {
	width: 120px;
	height: auto;
}
#text {
	width:580px;
	height:285px;
	margin:0px auto;
	padding-top:150px;
	position:relative;
}
#text .christmas {
	position:relative;
	width: 580px;
	height: auto;
	z-index:2;
}
#text .verymerry {
	width: 200px;
	height: auto;
	position: absolute;
	top: 240px;
	right: 75px;
	z-index:1;
}
#text .hpnyear {
	width:400px;
	height:auto;
	position: absolute;
	bottom: -60px;
	right: 0px;
}
#text .mess-open {
	font-family: 'Roboto Condensed', sans-serif;
	display:block;
	color:#FFF;
	background:#D3314A;
	text-decoration:none;
	padding:10px;
	width:130px;
	text-align:center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-weight:400;
	position: absolute;
	bottom: -120px;
	right: 0px;
	z-index:8;
	-moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
}
#mess-screen {
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background:rgba(0, 0, 0, 0.5);
	z-index:999;
	display:none;
}
.mess-box {
	background:url('img/bgpaper.jpg') bottom center;
	position:absolute;
	bottom:0px;
	left:50%;
	width:800px;
	height:400px;
	margin-left:-400px;
	-moz-box-shadow: -1px -1px 34px #000000;
	-webkit-box-shadow: -1px -1px 34px #000000;
	box-shadow: -1px -1px 34px #000000;
}
.close-btn {
	float:right;
	cursor: pointer;
	font-size: 30px!important;
	text-align: right;
	padding: 10px;
	color: #ccc;
}
.mess-content {
	padding:30px;
}
.mess-title {
	font-family: 'Roboto Condensed', sans-serif;
	color:rgba(255, 255, 255, 0.9);
	text-align:center;
	font-weight:400;
}
.mess {
	margin:20px 0;
	height:200px;
}
.mess p {
	color:rgba(255, 255, 255, 0.8);
	font-weight:100;
	line-height: 25px;
}
#loading-screen {
	position:fixed;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	background:#1a4b5c;
	background-size:cover;
	background-position:top center;
	z-index:99999;
}
.loading-gif {
	position:absolute;
	left:50%;
	top:50%;
	width:100px;
	height:100px;
	margin-left:-50px;
	margin-top:-50px;
	-webkit-animation-name: spin;
    -webkit-animation-duration: 500ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 500ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 500ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    animation-name: spin;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}